<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Puntada.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
				<key>dateExpires</key>
				<string>17/11/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire_SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KVNProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Material.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MaterialTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Motion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PaddingLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Pages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Presentation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ProgressBarKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76DE136E78A6D2C68E31931E06E6DF32979686E7</string>
						<key>dateExpires</key>
						<string>17/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UICheckbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88R6Z47X35</string>
						<key>name</key>
						<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>88R6Z47X35.com.puntada.Puntada</string>
				<key>com.apple.developer.team-identifier</key>
				<string>88R6Z47X35</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>88R6Z47X35.com.puntada.Puntada</string>
				</array>
			</dict>
			<key>name</key>
			<string>Puntada.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8cdae257-89a0-4f60-97ab-e4b21601419b</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.puntada.Puntada</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>88R6Z47X35</string>
				<key>name</key>
				<string>Corporativo Mexicano de Gasolinerias, S.C.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
